.fragment_floating_cookies_clear {
    position: fixed;
    bottom: 10vh!important;
    right: 0!important;
    background-color: var(--dark);
    cursor: pointer;
    color: var(--light);
}

.fragment_floating_back:hover {
    background-color: var(--light);
    color: var(--dark)!important;
}